Score: {{score}}
Lives: {{lives}}
Level: {{level}}
<div class="power-gradient">Powered: {{pac.powerPelletTime}}</div>
<br>
<canvas id="myCanvas" width="{{boardWidth}}" height="{{boardHeight}}"></canvas>

<style>
  .power-gradient {
    color: {{pac.color}};
  }
</style>