Score: {{score}}
Lives: {{lives}}
Level: {{levelNumber}}
<div class="power-gradient">Powered: {{pac.powerPelletTime}}</div>
<br>
<canvas id="myCanvas" width="{{level.pixelWidth}}" height="{{level.pixelHeight}}"></canvas>

<style>
  .power-gradient {
    color: {{pac.color}};
  }
</style>